version: "3.7"

services:
    pro-server:
        container_name: pro-server
        image: mycard/ygopro-server:latest
        restart: always
        ports:
            - "2021:7911"
        volumes:
            - ./config:/ygopro-server/config
            - ./expansions:/ygopro-server/ygopro/expansions
            - ./decks:/ygopro-server/decks
            - ./replays:/ygopro-server/replays
            - ./i18n.json:/ygopro-server/data/i18n.json
            - ./plugins:/ygopro-server/plugins
