version: "3.7"

services:
    pro-server:
        container_name: pro-server
        image: mycard/ygopro-server:latest
        restart: always
        environment:
            TZ: Asia/Seoul
        ports:
            - "2021:7911"
        volumes:
            - ./config:/ygopro-server/config
            - ./expansions:/ygopro-server/ygopro/expansions
            - ./decks:/ygopro-server/decks
            - ./replays:/ygopro-server/replays
            - ./i18n.json:/ygopro-server/data/i18n.json
            - ./plugins:/ygopro-server/plugins

    pro-server-pre-release:
        container_name: pro-server-pre-release
        image: mycard/ygopro-server:latest
        restart: always
        environment:
            TZ: Asia/Seoul
        ports:
            - "2022:7911"
        volumes:
            - ./pre-expansions:/ygopro-server/ygopro/expansions
            - ./config:/ygopro-server/config
            - ./decks:/ygopro-server/decks
            - ./replays:/ygopro-server/replays
            - ./i18n.json:/ygopro-server/data/i18n.json
            - ./plugins:/ygopro-server/plugins

    internal:
        container_name: pro-server-internal
        image: internal/srvpro
        restart: always
        environment:
            TZ: Asia/Seoul
        ports:
            - "2023:7911"
        volumes:
            - ./pre-expansions:/ygopro-server/ygopro/expansions
            - ./config:/ygopro-server/config
            - ./decks:/ygopro-server/decks
            - ./replays:/ygopro-server/replays
            - ./i18n.json:/ygopro-server/data/i18n.json
            - ./plugins:/ygopro-server/plugins
